<div class="Home">
  <div class="fluid-container">
    <div style="padding: 0 15px;">
      <a href="{{trending_url}}">
        trending
      </a>

      |

      <a href="{{hot_url}}">
        hot
      </a>

      |

      <a href="{{new_url}}">
        new
      </a>

      |

      <a href="{{promoted_url}}">
        promoted
      </a>
    </div>

    <div class="list-group">
      {{#each latest}}
        <div class="list-group-item">
          <div class="list-group-item-votes-container">
            <div class="list-group-item-votes">
              {{net_votes}}
            </div>

            <div class="list-group-item-payout">
              ${{total_pending_payout_value}}
            </div>
          </div>

          <div class="list-group-item-content-container">
            <h4 class="list-group-item-heading">
              <a href="{{link}}">
                {{title}}
              </a>
            </h4>

            <p class="list-group-item-text">
              submitted {{human_timestamp}} ago by <a href="{{author_link}}">{{author}}</a>
              in <a href="/{{category}}">{{category}}</a>
            </p>

            <p class="list-group-item-text list-group-item-subtext">
              {{#if no_comments}}
                <a href="https://steemit.com{{url}}">no comments</a>
              {{else}}
                <a href="https://steemit.com{{url}}">{{children}} comments</a>
              {{/if}}
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
